[defaults]
inventory          = inventory/hosts.yml
roles_path         = roles
retry_files_enabled = False
host_key_checking  = False
stdout_callback    = yaml
stderr_callback    = yaml
# Évite les avertissements sur le module "command" sans check
command_warnings   = False

[ssh_connection]
pipelining = True

[privilege_escalation]
become      = False
become_method = sudo
